<div class="category-box">
	<div class="w1210">
		<div class="home-category fl">
			<a href="/" class="menu-event" title="查看全部商品分类"> <i></i>
				全部商品分类
			</a>
		</div>

		<div class="all-category fl" id="nav">
			<ul>
				<li class="fl"><a class="nav current" href="/" target="_blank"
					title="首页">首页</a></li>

				<li class="fl"><a class="nav " href="#" target="_blank"
					title="爱购团">爱购团</a></li>

				<li class="fl"><a class="nav " href="#" target="_blank"
					title="海外购">海外购</a></li>

				<li class="fl"><a class="nav " href="#" target="_blank"
					title="品牌馆">品牌馆</a> <span class="nav-icon"> <img
						src="/img/test/14766722355540.gif">
				</span></li>

				<li class="fl"><a class="nav " href="#" target="_blank"
					title="美妆馆">美妆馆</a></li>

				<li class="fr"><a class="nav " href="#" target="_blank"
					title="帮助中心">帮助中心</a></li>

				<li class="fr"><a class="nav " href="#" target="_blank"
					title="商家合作">商家合作</a> <span class="nav-icon"> <img
						src="/img/test/14766722553394.gif">
				</span></li>

				<li class="fl"><a class="nav " href="/snapup"
					title="">抢购专区</a> <span class="nav-icon"> <img
						src="/img/test/14794053929710.gif">
				</span></li>

			</ul>
			<div class="wrap-line" style="left: 0px; width: 72px;">
				<span style="left: 15px;"></span>
			</div>
		</div>

		<div class="category-layer">
			<span class="category-layer-bg bg-color"></span>
			#set ($template=$model.staticRoot+"template/commodityType/commodity.type.vm.html")
			#include($template)
		</div>
	</div>
</div>