<span style="display:none;"><%@page pageEncoding="UTF-8"%></span>
	<!-- start list 一级分类循环体 -->
	#foreach ($firstType in $model)
	<div class="list">
		<dl class="cat">
			<dt class="cat-name">
				<i class="iconfont ${firstType.logo}"></i> 
				<a href="/list.html?commodityType=${firstType.id}" target="_blank" title="$firstType.name">$firstType.name</a>
			</dt>
			<i class="right-arrow">&gt;</i>
		</dl>
		<div class="categorys">
			<div class="item-left fl">
				<div class="subitems">
					<!-- 二级分类循环体 -->
					#if ($firstType.children)
					#foreach ($secondType in $firstType.children)
					<dl class="fore1">
						<dt style="width: 4em;">
							<a href="/list.html?commodityType=${secondType.id}" target="_blank" title="$secondType.name"> <em>$secondType.name</em> <i>&gt;</i>
							</a>
						</dt>
						<dd>
							<!-- 三级分类循环体 -->
							#if ($secondType.children)
							#foreach ($thirdType in $secondType.children)
							<a href="/list.html?commodityType=${thirdType.id}" target="_blank" title="${thirdType.name}">${thirdType.name}</a>
							#end
							#end
						</dd>
					</dl>
					#end
					#end
				</div>
			</div>
			<div class="item-right fr">
				<!-- 品牌logo -->
				<div class="item-brands">
					<div class="brands-inner">
						<img src="/img/test/cat-ad.png" />
					</div>
				</div>
				<!-- 分类广告图片 -->
			</div>
		</div>
	</div>
	#end
	<!-- end list -->